# NFSMW online client config.
# Put this file next to speed.exe and rename it to ONLINE.cfg

server_host = 127.0.0.1
bootstrap_port = 20921
lobby_port = 9900
control_port = 20923
control_alias_port = 13505
race_port = 2000

# Runtime redirects.
online_override_host = on
lan_override_host = on
lan_provider_seed = on

# MW LAN discovery/list injection.
lan_discovery_host_id = NFSMWNA
lan_discovery_name = MWONLINE
lan_discovery_port = 0

# Internal LANServerSelect hooks.
lan_internal_hooks = on
lan_internal_fake = on
lan_internal_event_hook = off
lan_internal_refresh_state = off
lan_internal_selected_host_hook = on
lan_internal_force_open_selected = off
lan_internal_fake_name = MWONLINE
lan_internal_fake_short = 9900
lan_internal_fake_id = 1

# Patch controls.
cert_patch = on

debug = on
